# dependencies
node_modules/
.pnpm-store/

# build output
dist/

# logs
*.log

# non-public environment variables
.env.local
.env.*.local

# caches
.eslintcache
.stylelintcache
*.tsbuildinfo

# misc
.DS_Store
.idea/

# playwright
/blob-report/
/playwright/.cache/
/playwright-report/
/test-results/
