[submodule "src/service/parser-functions"]
	path = src/service/parser-functions
	url = ../../wboe/wboe-article-parser.git
[submodule "src/components/ViewPreview"]
	path = src/components/ViewPreview
	url = ../../wboe/wboe-article-view.git
